@use '../../scss/variables';

.alta-container {

    &__table-container {
        width: 100%;
        overflow-x: auto;
    }
    
    &__table {
        border-collapse: collapse;
        min-width: 1050px;
        max-width: 1300px;
        margin: 1rem auto;
        font-size: 12px;
    
        td {
            padding: 8px;
        }
    
        td:nth-child(even) {
            background-color: #f2f2f2;
        }
    
        td:nth-child(1) {
            font-weight: 600;
        }
    
    
        th {
            padding: 10px;
            text-align: center;
            background-color: variables.$color-base;
            border: none;
            color: white;
        }
    
        button {
            padding-block: 4px;
            padding-inline: 8px;
            margin: 2px;
            cursor: pointer;
            border: none;
            border-radius: 5px;
            color: white;

            &:nth-child(1){
                background-color: rgb(15, 161, 64);
                &:hover {
                    background-color: rgb(10, 114, 45);
                }
            }
            &:nth-child(2){
                background-color: rgb(255, 217, 0);              
                &:hover {
                    background-color: rgb(190, 162, 0);
                }
            }
            &:nth-child(3){
                background-color: variables.$color-bg-delete-button;                
                &:hover {
                    background-color: variables.$color-hover-delete-button;
                }
            }

            a {
                text-decoration: none;
                color: white;
            }
        }
        
    }

    @media screen and (min-width: 992px) {
        table {
            margin: 2rem;
            font-size: 0.8em
        }
    }
}
