.section-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('/imgs/jorge-burruchaga-edit.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    text-shadow: 2px 1px 2px black;


    &__description {
        margin-top: 6rem;
        width: 300px;
        text-align: center;
        font-family: "Oswald", serif;
        font-size: 2em;

    }

    &__p-text {
        width: 25rem;
        text-align: center;
        font-size: 1.5em;
        margin-bottom: 10rem;
    }

    @media screen and (min-width: 576px) {
        &__description {
            margin-bottom: 2rem;
        }

        &__p-text {
            width: 35rem;
        }
    }

    @media screen and (min-width: 992px) {
        & {
            background-position: top;
        }

        &__p-text {
            width: 62rem;
        }
    }
}

.about-description {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 10rem;
   background-color: aliceblue;

   &__secondary-container {
    width: 30rem;
    text-align: center;
    font-family: "Oswald", serif;
    color: rgb(114, 113, 113);


        h2 {
            font-size: 2em;
        }

        p {
            font-size: 1.5em;
        }
   }

   @media screen and (min-width: 576px) {
    & {
        margin-top: 12rem;
    }

    &__secondary-container {
        min-width: 36rem;
        width: 45rem;

        h2 {
            margin-bottom: 2rem;
        }
    }   
}

    @media screen and (min-width: 992px) {
    & {
        margin-top: 9rem;
    }

    &__secondary-container {
        width: 66rem;
        font-size: 1.1em;
    }

    
}
}