$color-base: #A90B45;
$color-footer-text: white;
$color-footer-nav-background: rgb(20, 20, 20);
$color-span-principal: #9397ec;
$color-bg-delete-button: #FF0000;
$color-hover-delete-button: #940000;


